{% extends 'SpxMainBundle:Habillage:habillage.html.twig' %}

{% block modele %}

<h2>Bruleur Sparxs dans un habillage sur mesure</h2>

<h5> Un bloc de combustion à l'éthanol est idéal pour faire revivre une cheminée inutilisée et apporter la magie et la chaleur du feu dans une pièce.</br>
Sparxs résoud le problème de l'intégration facile et élégante d'un brûleur bio-éthanol en proposant un habillage sur mesure à partir des dimensions de la cheminée; ils sont réalisés sous une dizaine de jours.</br> 
Cet habillage se marie aussi bien avec les cheminées anciennes que contemporaines.</br> </br></h5>
<div class="row">
	<div class="col-md-6" style="text-align:center">
	<img src="{{ asset('img/Habillages/cheminee-triste.jpg') }}" >
	<p ></br>AVANT<br/></br></p>
	</div>
	<div class="col-md-6" style="text-align:center">
	<iframe width="auto" height="260" src="//www.youtube.com/embed/Yfh_uCAWj7U?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> >	
	<p style="padding-top:20px">APRES<br/></br></p>
	</div>
</div>
<div class="row">
	<div class="col-md-6" style="text-align:center">
	<img src="{{ asset('img/Habillages/parametres-habillage.jpg') }}" >
	<p>Dimensions à relever pour la réalisation de l'habillage sur mesure<br/></br></p>
	</div>
	<div class="col-md-6" style="text-align:center">
	<img src="{{ asset('img/Habillages/cotes-habillage-cheminee.png') }}" >
	<p>Le gabarit de l'habillage SPARXS sur mesure permet de couvrir 95% des cas de cheminées existantes (trapezoidales avec ou sans retour (A) ou simplement rectangulaires).<br/></br></p>
	</div>
</div>
{% endblock %}