{% extends 'SpxMainBundle:Habillage:habillage.html.twig' %}

{% block modele %}

<h2>Bruleur Sparxs dans inox standard</h2>

<h5> SPARXS propose un habillage standard en inox pour
ceux qui souhaitent passer leur système à l'éthanol d'une
cheminée à l'autre. Sinon nous conseillons l'habillage sur mesure.</br> </br></br></h5>

<div align="center">
	<img src="{{ asset('img/Habillages/cheminee_habillage-standard.jpg') }}" class="image_habillage">
	<p>Cheminéee classique avec habillage standard<br/></br></br></p>
	
</div>
<div align="center">
	<img src="{{ asset('img/Habillages/Habillage-a-fentes.jpg') }}" class="image_habillage">
	<p>Habillage sur table, à des fins de présentation<br/>
	<small><small>(<small> en réalité l'habillage doit toujours être fixé au bâti ou quasi-fixé dans un endroit sans aucun risque de mouvement </small>)</small></small></p>
</div>

{% endblock %}