{% extends 'SpxMainBundle:Habillage:habillage.html.twig' %}

{% block modele %}

<h2>Bruleur Sparxs dans un habillage sur mesure</h2>

<h5> Un bloc de combustion à l'éthanol est idéal pour faire revivre une cheminée inutilisée et apporter la magie et la chaleur du feu dans une pièce.</br>
Sparxs apporte une solution d'intégration simple et élégante d'un brûleur bio-éthanol dans une cheminée existante en proposant un habillage sur mesure à partir des dimensions de la cheminée; il est réalisé sous une dizaine de jours.</br> 
Cette solution est idéale pour les cheminées condamnées suite à l'interdiction des feux de bois dans les cheminées à foyer ouvert à partir de 2015.</br>
Cet habillage convient aussi bien aux cheminées anciennes que contemporaines.</br> </br></h5>
<div class="row">
	<div class="col-md-6" style="text-align:center">
	<img src="{{ asset('img/Habillages/cheminee-triste.jpg') }}" alt="Cheminée inutilisée ou inutilisable" >
	<p ></br>AVANT<br/></br></p>
	</div>
	<div class="col-md-6" style="text-align:center">
	<iframe width="auto" height="260" src="//www.youtube.com/embed/Yfh_uCAWj7U?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe> >	
	<p style="padding-top:20px">APRES<br/></br></p>
	</div>
</div>
<div class="row">
	<div class="col-md-6" style="text-align:center">
	<img src="{{ asset('img/Habillages/parametres-habillage.jpg') }}" alt="relevé de côtes pour habillage pour brûleur éthanol">
	<p>Dimensions à relever pour la réalisation de l'habillage sur mesure<br/></br></p>
	</div>
	<div class="col-md-6" style="text-align:center">
	<img src="{{ asset('img/Habillages/cotes-habillage-cheminee.png') }}" alt="gabarit habillage pour brûleur éthanol">
	<p>Le gabarit de l'habillage SPARXS sur mesure permet de couvrir 95% des cas de cheminées existantes (trapezoidales avec ou sans retour (A) ou simplement rectangulaires).<br/></br></p>
	</div>
</div>
{% endblock %}