{% extends 'SpxMainBundle:Produits:produits.html.twig' %}

{% block modele %}

	<h2 style="margin-bottom: 20px">Les blocs de combustion SPARXS fonctionnent avec du bio-éthanol pour cheminées sans conduit du commerce  </h2>
	
<div class="col-md-9"style="vertical-align:middle">
	<h4>Un des grands avantages des cheminées et brûleurs SPARXS est de posséder un réservoir amovible. </br> </br>Ainsi l'opération de remplissage peut se faire à partir de n'importe quel bio-éthanol du commerce (exemple ci-contre) et en toute sécurité: en effet, le transvasement du bio-éthanol entre le bidon du commerce et le réservoir amovible du brûleur peut être aisément réalisé au dessus d'un évier et sans risque en cas de débordement. </br>
	<h4>Souvent interrogés sur le bio-éthanol recommandé par SPARXS, nous recommandons simplement d'éviter si possible les combustibles teintés (généralement en bleu) en raison de la persistance du colorant dans le bac de combustion et les circuits d'alimentation (pompe et tuyaux) bien qu'à ce jour, avec plusieurs années de recul, aucun impact sur le fonctionnement n'a été constaté.</h4>
</div>
<div class="col-md-3">
	<img class="img-responsive" style="margin-right:20px;" alt="bidon bio-éthanol" src="{{ asset('img/Produits/Bidon recharge ethanol.gif') }}" />
	<p align="center"><small>Exemple de bidon de bio-éthanol de grande surface</small></p>
</div>

{% endblock %}